#define DS_SETFONT 0x40
#define DS_MODALFRAME 0x80
#define WS_POPUP 0x80000000L
#define WS_CAPTION 0x00C00000L
#define WS_SYSMENU 0x00080000L

#ifndef IDC_STATIC
#define IDC_STATIC (-1)
#endif

#include "../include/Resource.h"

IDD_DIFFICULTY_DIALOG DIALOGEX 0, 0, 250, 180
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION L"Choose Difficulty"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Difficulty",IDC_STATIC,7,7,236,166
    AUTORADIOBUTTON "Beginner",IDC_RADIO_BEGINNER,15,30,215,10
    AUTORADIOBUTTON "Intermediate",IDC_RADIO_INTERMEDIATE,15,50,215,10
    AUTORADIOBUTTON "Expert",IDC_RADIO_EXPERT,15,70,215,10
    AUTORADIOBUTTON "Custom",IDC_RADIO_CUSTOM,15,90,215,10
    DEFPUSHBUTTON "OK",IDOK,50,140,60,14
    PUSHBUTTON "Cancel",IDCANCEL,140,140,60,14
END
